<form method="post" action="{{ path('job_listing_delete', {'id': job_listing.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_listing.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>